ul {
    list-style-type: none;
}

li {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: inline-block;
    margin: 3em;
}

li:hover {
    border-color: #0099cc;
}

